<form
  id="document-edit"
  class="border rounded bg-white p-4 mt-1 mb-1"
  (ngSubmit)="onSubmit(f)"
  #f="ngForm">
  <div class="row">
    <div class="col form-group">
      <label for="title">Document Title</label>
      <input
        type="text"
        id="title"
        name="documentTitle"
        ngModel="{{ document?.name }}"
        class="form-control"
        size="120"
        max="120"
        required>
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <label for="description">Document Description</label>
      <input
        type="text"
        id="description"
        name="documentDescription"
        ngModel="{{ document?.description }}"
        class="form-control"
        size="120"
        max="255">
    </div>
  </div>

  <div class="row">
    <div class="col form-group">
      <label for="url">Document URL</label>
      <input
        type="text"
        id="url"
        name="documentUrl"
        ngModel="{{ document?.url }}"
        class="form-control"
        size="120"
        max="255"
        required>
    </div>
  </div>

  <div class="row" *ngIf="!f.valid">
    <div class="col">
      <p class="alert alert-danger">The Document title and URL are required fields.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        class="btn btn-success btn-sm"
        type="submit"
        [disabled]="!f.valid">Save</button>
      <button class="btn btn-primary btn-sm" type="button" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</form>
