<div class="panel panel-default">
  <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Contacts</h4>
        <ul style="background-color: #F4F6F6;" class="panel pull-right">
          <button  type="button" class="btn btn-success">New Contact
            </button>

        </ul>
      </div>
      <div class="panel-body">
        <div class="list-group-item clearfix"
        *ngFor="let contact of contacts">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{contact.name}}</h4>

          </div>
          <span class="pull-right">
            <img src="{{contact.imgUrl}}" alt="{{contact.name}}" class="img-responsive"
                 style="max-height: 50px;">
          </span>
        </div>
      </div>


