<div class="panel panel-default">
  <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Contacts</h4>
        <ul style="background-color: #F4F6F6;" class="panel pull-right">
          <a routerLink="/contacts/new" type="button" class="btn btn-success">New Contact
            </a>

        </ul>
      </div>
      <div class="panel-body">
        <app-contact-item
          *ngFor="let contact of contacts"
          [contact]="contact"
        dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"></app-contact-item>
      </div>


