<div class="panel panel-default">
  <div class="row">
    <div class="col-xs-12">

      <div class="panel-heading clearfix">
        <h1>Contacts</h1>
        <ul class="panel pull-right">
          <button type="button" class="btn btn-success">New Contact
            <span class = "caret"></span></button>

        </ul>
      </div>
      <hr>
      <div class="panel-body">
        <div class="list-group-item clearfix"
        *ngFor="let contact of contacts">
          <div class="pull-left">
            <h4 class="list-group-item-heading">{{contact.name}}</h4>

          </div>
          <span class="pull-right">
            <img src="{{contact.imgUrl}} alt={{contact.name}}" class="img-responsive"
                 style="max-height: 50px;">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

