<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col clearfix">
        <h3 class="float-left">{{ document.name }}</h3>

        <div class="float-right">
          <a class="btn btn-primary btn-sm mt-1" (click)="onView()" role="button">View</a>
          <a class="btn btn-info btn-sm mt-1" routerLink="/documents/{{ document.id }}/edit" role="button">Edit</a>
          <a class="btn btn-danger btn-sm mt-1" (click)="onDelete()" role="button">Delete</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card-block">
    <div class="row pt-3 m-3">
      <div class="col">
        <label>Description:</label>
        <div>{{ document.description }}</div>
      </div>
    </div>
    <div class="row pt-3 pb-3 m-3 mt-0">
      <div class="col">
        <label>URL:</label>
        <div>{{ document.url }}</div>
      </div>
    </div>
  </div>
</div>
